#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  width: 96vw;
  height: 93vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}
.container>div{
  border: 1px solid white;
}

ul,li{
  list-style: none;
}